.logo {
  position: relative;
  display: flex;
  align-items: flex-start;
  font-style: italic;
  font-size: 36px;
  /* background-color: rgb(255, 127, 127); */
}

.logo img {
  position: absolute;
  left: 129px;
  top: -19px;
}

.logo:hover {
  cursor: pointer;
}
