.card-book-container {
  position: relative;
}

.card-book {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 210px;
  height: 380px;
  padding: 5px;
  border-radius: 4px;
  /* transition: transform 150ms ease-in-out, box-shadow 100ms ease-in-out; */
  background-color: #1a1a1a;
  transition: background-color 0.2s ease;
}

.card-book:hover {
  cursor: pointer;
  background-color: rgba(200, 200, 200, 0.1);
}

.card-book img {
  max-width: 200px;
  height: 270px;
  border-radius: 5px;
}
.card-book .title {
  font-size: 24px;
  font-weight: bold;
  padding-top: 0.5em;
}

.author-year-group {
  display: flex;
  justify-content: space-between;
}

.card-book .author,
.card-book .year {
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  color: #929292;
  padding-top: 0.5em;
}

.card-book .author-year-group {
  margin-top: auto;
}

.book-waiting {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  background: rgba(196, 196, 196, 0.5);
  background: rgba(121, 121, 121, 0.45);
  width: 210px;
  height: 380px;
  padding: 5px;
  border-radius: 10px;
}
.book-waiting p {
  display: block;
  padding: 3px;
  width: 100%;
  font-size: 18px;
  text-align: center;
  color: #fff;
  color: rgb(0, 0, 0);
  background-color: #ffd600;
  font-family: 'Open Sans', sans-serif;
}

.delete-collection {
  position: absolute;
  top: -15px;
  right: -20px;
  transition: 
   /* scale 100ms ease-in-out, */ transform 150ms ease-in-out,
    box-shadow 100ms ease-in-out;
}

.delete-collection .btn {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.delete-collection img {
  width: 55px;
  height: 55px;
}
